<template>
  <div class="layout">
    <topbar></topbar>
    <section class="landing flex items-center justify-center container px-4 mx-auto">
      <div class="flex-1 pb-10">
        <h1 class="text-4xl font-bold text-white">Watch. Videos. Together.</h1><br/>
        <input class="bg-input-background p-4 border-2 text-white border-transparent focus:border-button-background outline-none placeholder-input-placeholder" type="text" placeholder="Room ID"><br/>
        <button class="rounded-md mt-4 mb-4 p-4 bg-red-100 text-button-text bg-button-background font-bold" @click="joinRoom(null)">Join Room</button><br/>
        <span class="text-landing-text">No room yet? <span @click="createRoom" class="text-landing-highlight cursor-pointer">Create Room</span></span><br/>
      </div>
      <div class="hidden lg:block flex-1">
        <img class="w-full" src="../assets/landing.svg"/>
      </div>
    </section>
    <section class="content">
      <div class="container mx-auto px-4 py-4 text-center">
        <h3 class="text-3xl mb-8 mt-8 text-white">Rooms</h3>
        <div v-for="room in rooms">
          <div class="bg-main-bg flex items-center justify-between p-4 border-b-2 border-separator-1 last:border-b-0">
            <span class="text-white">{{room.name}}</span>
            <button @click="joinRoom(room.id)" class="bg-button-background text-button-text rounded-lg px-4 py-2 font-bold">Join</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup>
import {provideApolloClient, useMutation, useQuery} from "@vue/apollo-composable";
import gql from "graphql-tag";
import {useRouter} from "vue-router";
import * as short from "short-uuid";
import {inject, ref} from "vue";

const router = useRouter();
const rooms = ref([]);
const loading = ref(false);

const createRoomMutation = useMutation(gql`
            mutation createRoom {
              createRoom {
                id
                name
              }
            }
          `);

createRoomMutation.onDone(res => {
  loading.value = true;
  rooms.value = [ ...rooms.value, res.data.createRoom ]
  setTimeout(() => {
    router.push({ name: 'room', params: { id: res.data.createRoom.id }, query: { id: short.generate() } })
  }, 100);
})

const createRoom = () => createRoomMutation.mutate();

const userInfo = ref(null);

const getRooms = useQuery(gql`
            query {
              rooms {
                id
                name
              }
            }
          `);

getRooms.onResult(result => {
  rooms.value = result.data.rooms;
})
const keycloak = inject('keycloak');
if (keycloak.authenticated) {
  keycloak.loadUserInfo().then(() => {
    userInfo.value = keycloak.userInfo;
  });
}
const id = ref(null);
const joinRoom = (roomId = null) => {
  return router.push({ name: 'room', params: { id: roomId || id }, query: { id: short.generate() }  })
}

const openRoom = (id) => {
  return router.push({ name: 'room', params: { id }, query: { id: short.generate() } })
}

const login = () => {
  keycloak.login();
}
</script>

<style>
.layout{
  min-height:100vh;
}
.content{
  flex: 1;
  background-color:#6500E5;
  display:flex;
  flex-direction: column;
}
.landing{
  background-color:#4F00B4;
}
.create-highlight{
  color: #C699FF;
}
</style>
