<template>random</template>

<script>
import * as short from 'short-uuid';
import {useRouter} from "vue-router";
export default {
  setup() {
    const router = useRouter();
    router.replace({ name: 'room', query: { id: short.generate() } })
  }
}
</script>
