<template>
  <div class="h-screen flex flex-col">
    <topbar></topbar>
    <section class="content" v-if="room && connected">
      <div class="bg-room-header-bg">
        <div class="container mx-auto px-4 flex">
          <div class="flex-1 flex py-2">
            <div class="w-12 h-12 mr-4 bg-main-bg rounded-full relative" v-for="participant in participants.active">
              <div class="w-12 h-12 rounded-full overflow-hidden">
                <img class="w-100 h-100" :src="getParticipantAvatar(participant)" alt="">
              </div>
              <div class="absolute bottom-0 right-0 w-4 h-4 rounded-full bg-green-500"></div>
            </div>
            <div class="w-12 h-12 mr-4 bg-main-bg rounded-full relative" v-for="participant in participants.stale">
              <div class="w-12 h-12 rounded-full overflow-hidden">
                <img class="w-100 h-100" :src="getParticipantAvatar(participant)" alt="">
              </div>
              <div class="absolute bottom-0 right-0 w-4 h-4 rounded-full bg-red-500"></div>
            </div>
          </div>
          <div class="w-96 flex justify-center items-center">
            <input type="text" placeholder="Search..." class="bg-main-bg p-2 outline-none text-white rounded-md w-full"/>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-4 py-4 flex" v-show="room && connected">
        <div class="flex-1 mr-4">
          <div class="bg-main-bg">
            <div class="flex">
              <video ref="player">
                <source :src="'http://localhost:3001'" type="video/mp4">
              </video>
            </div>
            <div class="flex">
              <button @click="setState(1)" class="p-3 text-white" v-if="state !== 1">
                <i class="fas fa-play"></i>
              </button>
              <button @click="setState(2)" class="p-3 text-white" v-if="state === 1">
                <i class="fas fa-pause"></i>
              </button>
              <button class="p-3 text-white">
                <i class="fas fa-volume-down"></i>
              </button>
              <button class="p-3 text-white">
                <i class="fas fa-volume-up"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="w-96 bg-main-bg">
          <div class="flex justify-center items-center">
            <div class="flex-1 p-4 text-white text-2xl cursor-pointer" @click="setPanel(0)" :class="{'bg-input-placeholder': panel !== 0}">Queue</div>
            <div class="flex-1 p-4 text-white text-2xl cursor-pointer" @click="setPanel(1)" :class="{'bg-input-placeholder': panel !== 1}">Settings</div>
          </div>
          <div class="p-4" v-if="panel === 0">
            Queue
          </div>
          <div class="p-4" v-if="panel === 1">
            Settings
          </div>
        </div>
        <!--      <fieldset v-if="room">-->
        <!--        <legend>Room</legend>-->
        <!--        <span>Name: </span>-->
        <!--        <span class="room-name">{{room.name}}</span><br/>-->
        <!--      </fieldset>-->
        <!--      <fieldset>-->
        <!--        <legend>Video</legend>-->
        <!--        <span>State: </span>-->
        <!--        <span v-if="connected && state === 1">Playing</span>-->
        <!--        <span v-if="connected && state === 2">Paused</span>-->
        <!--        <span v-if="connected && state === 3">Buffering</span><br/>-->
        <!--        <span>Video ID: </span>-->
        <!--        <span></span><br/>-->
        <!--        <span>Platform: </span>-->
        <!--        <span></span><br/>-->
        <!--        <span>Started At: </span>-->
        <!--        <span>{{startedAt}}</span>-->
        <!--        <br/>-->
        <!--        <video muted ref="player" width="320" height="240">-->
        <!--          <source :src="'http://localhost:3001'" type="video/mp4">-->
        <!--          Your browser does not support the video tag.-->
        <!--        </video>-->
        <!--      </fieldset>-->
        <!--      <fieldset  v-if="room">-->
        <!--        <legend>Controls</legend>-->
        <!--        <button @click="setState(1)">Play</button>-->
        <!--        <button @click="setState(2)">Pause</button>-->
        <!--        <button @click="player.volume -= 0.1">Volume Up</button>-->
        <!--        <button @click="player.volume += 0.1">Volume Down</button>-->
        <!--      </fieldset>-->
        <!--      <fieldset  v-if="room">-->
        <!--        <legend>Participants</legend>-->
        <!--        <div>Active</div>-->
        <!--        <ul v-if="participants.active.length > 0">-->
        <!--          <li v-for="participant in participants.active">{{participant.name}}</li>-->
        <!--        </ul>-->
        <!--        <div v-else>-->
        <!--          No active participants-->
        <!--        </div>-->
        <!--        <hr/>-->
        <!--        <div>Stale</div>-->
        <!--        <ul v-if="participants.stale.length > 0">-->
        <!--          <li v-for="participant in participants.stale">{{participant.name}}</li>-->
        <!--        </ul>-->
        <!--        <div v-else>-->
        <!--          No stale participants-->
        <!--        </div>-->
        <!--      </fieldset>-->
        <!--      <fieldset  v-if="room && connected">-->
        <!--        <legend>Set name</legend>-->
        <!--        <input type="text" v-model="name"/>-->
        <!--        <button @click="updateName">set name</button>-->
        <!--      </fieldset>-->
      </div>
      <div v-show="!room || !connected">Waiting for room...</div>
    </section>
  </div>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue";
import SocketIO from 'socket.io-client'
import { useRoute, useRouter } from "vue-router";
import {useQuery} from "@vue/apollo-composable";
import gql from "graphql-tag";

export default defineComponent({
  setup() {

    const route = useRoute();
    const router = useRouter();
    const id = route.query.id;
    const roomId = route.params.id;

    if (!roomId) {
      return router.replace('/404')
    }

    if (!id) {
      return router.replace('/404')
    }

    const player = ref(null);
    const participants = ref([]);
    const connected = ref(false);
    const name = ref(null);
    const state = ref(2);
    const startedAt = ref(null);
    const room = ref(null);

    const panel = ref(0);
    const setPanel = (panelSet) => {
      panel.value = panelSet;
    }
    let socket;
    const updateName = ref(null);
    let setState = ref(null);
    const { result, onResult, refetch, start } = useQuery(gql`
            query($id: String!) {
              room(id: $id) {
                id
                name
                websocketUrl
                token
              }
            }
          `, { id: roomId });
    onResult(result => {
      if (result.error) {
        room.value = null;
      } else {
        let token = localStorage.getItem(`r-${id}`);
        const query = { id };
        if (token) {
          query.token = token;
        }
        room.value = result.data.room;
        socket = SocketIO(room.value.websocketUrl, { reconnect: true, query })

        updateName.value = () => {
          socket.emit('updateName', name.value);
        };

        setState.value = (state) => {
          socket.emit('setState', state);
        }

        socket.on('connect', () => {
          connected.value = true;
        });

        socket.on('disconnect', () => {
          connected.value = false;
          participants.value = [];
          id.value = null;
        });

        socket.on('roomState', (data) => {
          state.value = data.state;
          participants.value = data.participants;
          startedAt.value = data.startedAt;

          if (state.value === 1) {
            if (player && player.value) {
              player.value.play();
            }
          } else if(state.value === 2){
            if (player && player.value) {
              player.value.pause();
            }
          }
        });
      }
    });

    const getParticipantAvatar = (participant) => {
      return `https://avatars.dicebear.com/api/bottts/${participant.name || 'test'}.svg`
    }

    return {
      participants,
      connected,
      id,
      name,
      state,
      startedAt,
      updateName,
      setState,
      room,
      player,
      getParticipantAvatar,
      panel,
      setPanel,
    }
  }
})
</script>
