<template>
  <div class="flex justify-center items-stretch container bg-main-bg px-4 mx-auto h-20">
    <div class="flex flex-1 justify-start items-center">
      <span class="text-white font-bold text-3xl">Videe</span>
    </div>
    <div class="flex flex-1 justify-end items-center">
        <span class="text-white font-bold text-xl" v-if="keycloak.authenticated && userInfo">
        {{userInfo.name}}
        </span>
      <button class="text-white font-bold text-xl" v-else @click="login">Login</button>
    </div>
  </div>
</template>

<script setup>
import {inject, ref} from "vue";
const userInfo = ref(null);

const keycloak = inject('keycloak');
if (keycloak.authenticated) {
  keycloak.loadUserInfo().then(() => {
    userInfo.value = keycloak.userInfo;
  });
}

const login = () => {
  keycloak.login();
}
</script>
