<template>
  <router-view></router-view>
</template>

<script>
import {defineComponent, getCurrentInstance, provide, ref} from "vue";
import Test from "./pages/Room.vue";

export default defineComponent({
  setup() {
    const internalInstance = getCurrentInstance();
    const socket = ref(internalInstance.appContext.config.globalProperties.$socket);
    const vueSocketIo = ref(internalInstance.appContext.config.globalProperties.$vueSocketIo);
    provide('$socket', socket);
    provide('$vueSocketIo', vueSocketIo);
  }
})
</script>

<style>
*{
  padding: 0;
  margin: 0;
}
body{
  background-color:#4F00B4;
}
#app{
}
</style>
